body {
  margin: 0;
  font-family: "DM Sans,Helvetica Neue,helvetica,arial,sans-serif;";
  color: rgb(38, 49, 62);
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
